/*=============================================
Variables
=============================================*/

$text-color: #000000;

$brand-color-1: #59a13e;
$brand-color-2: #bf3448;
$brand-color-3: #2f8ad5;


/*=============================================
Breakpoints
=============================================*/

$rwd-small: 48rem; //768px;
$rwd-medium: 62rem; //992px;
$rwd-large: 75rem; //1200px;

/*=============================================
Grid
=============================================*/