/*=============================================
Grid sections
=============================================*/

.grid {
    &__element {
        border: 1px solid $brand-color-1;
        text-align: center;
        padding: 0.6em;
        margin: 1em 0;
    }
    &__title {
        color: $brand-color-1;

    }
}