/*=============================================
Main Header
=============================================*/

.main-header {
    background-image: url('../img/bg.svg');
    background-attachment: fixed;
    background-attachment: fixed;
    background-size: cover;
    background-size: cover;
    p {
        color: #fff;
    }
    h1 {
        color: #fff;
        text-shadow: 1px 1px 2px #4b4b4b;
        font-size: 3rem;
    }
    .container {
        padding: 6em 1.25em 3em 1.25em;
        text-align: center;

        @include rwd(small) {
            padding: 20vh 0 3em;
        }
    }
    &__buttons {
        display: inline-block;
        margin: 3em auto;
        .btn {
            margin: 0;
            margin-bottom: 0.6em;

            @include rwd(small) {
                display: inline-block;
            }
            &:first-child {
                @include rwd(small) {
                    margin-right: 0.6em;
                }
            }
        }
    }
}