/*=============================================
Helpers
=============================================*/

.clearfix::after {
    clear: both;
    content: '';
    display: table;
}

.is-mobile-hidden {
    display: none;
    @include rwd(small) {
        display: initial;
    }
}

.is-display-none {
    display: none;
}


/*=============================================
Sections
=============================================*/

section {
    &.gray {
        background: $light-grey;
    }
    &.padding {
        padding: 30px 0 50px 0;
        @include rwd(small) {
            padding: 60px 0 100px 0;
        }
    }
    &.padding-small {
        padding: 30px 0 50px 0;
    }
}


/*=============================================
Img
=============================================*/

.img {
    &--circle {
        border-radius: 50%;
    }
    &--responsive {
        max-width: 100%;
    }
}