/*=============================================
Helpers
=============================================*/

.is-mobile-hidden {
    display: none;
    @include breakpoint(small) {
        display: initial;
    }
}

.is-display-none {
    display: none;
}

